.gradle
.idea
/local.properties
*iml
*.iml
*/build
build/
.DS_Store
keystore.properties

fastlane/report.xml
fastlane/screenshots
fastlane/Preview.html
fastlane/test_output
fastlane/metadata/android/screenshots.html

app/release

api-*.json

ios/GalwayBusApp/GalwayBusApp.xcworkspace/xcuserdata
