<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.surrus.galwaybus">


    <!--     <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.surrus.galwaybus.GalwayBusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />


        <activity
            android:name="com.surrus.galwaybus.ui.HomeActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_home">

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="www.surrus.com" android:pathPrefix="/galwaybus" android:scheme="http"/>
                <data android:host="www.surrus.com" android:pathPrefix="/galwaybus" android:scheme="https"/>
            </intent-filter>

            <meta-data android:name="default-url" android:value="https://www.surrus.com/galwaybus" />

        </activity>

        <activity
            android:name="com.surrus.galwaybus.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.surrus.galwaybus.ui.HomeActivity" />
        <activity
            android:name="com.surrus.galwaybus.ui.SchedulePdfActivity"
            android:parentActivityName="com.surrus.galwaybus.ui.HomeActivity" />


        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="com.surrus.galwaybus.firebaseinitprovider"
            android:exported="false"
            tools:node="merge"/>

    </application>


</manifest>
