<configuration>

<!--    -->
<!--    &lt;!&ndash; Stack Driver Appender &ndash;&gt;-->
<!--    &lt;!&ndash; See Config here: https://cloud.google.com/logging/docs/setup/java#wzxhzdk57wzxhzdk58logback_appender_for_product_name &ndash;&gt;-->
<!--    <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">-->
<!--        &lt;!&ndash; Optional : filter logs at or above a level &ndash;&gt;-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
<!--        <log>application.log</log> &lt;!&ndash; Optional : default java.log &ndash;&gt;-->
<!--        <flushLevel>WARN</flushLevel> &lt;!&ndash; Optional : default ERROR &ndash;&gt;-->
<!--    </appender>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="trace">-->
<!--        &lt;!&ndash; Add Console output for local dev &ndash;&gt;-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--        &lt;!&ndash; Add Cloud Appender to root output&ndash;&gt;-->
<!--        <appender-ref ref="CLOUD" />-->
<!--    </root>-->

</configuration>
